/*Обнуляющий стиль*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-bottom: 25px;
}

.header__inner {}

nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav__link {
    text-transform: uppercase;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.par {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    margin: 25px 0;
}

.header__img {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.header__inner__img {
    width: 300px;
}

.header__inner__img h1 {
    font-size: 20px;
}

.inner__img {
    width: 300px;
}
